 <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2018 Hobbies
            <a class="grey-text text-lighten-4 right" href="https://github.com/ManojAthreya">Manoj Athreya</a>
     </div>
  </div>
</footer>