<h1>Welcome</h1>
<p>WELCOME TO YOUR HOBBIES BLOG</p>
<p>Post your HOBBIES which you would LOVE to do, and make it awailable on this blog, so that the Whole world sees it. </p>
<a class="btn red darken-1" href="/auth/google"><i class="fa ga-google left"></i>Login With Google</a>