<h1>Welcome</h1>
<p>WELCOME TO YOUR HOBBIES BLOG</p>
<p>Post your HOBBIES which you would LOVE to do, and make it awailable on this blog, so that the Whole world sees it.</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i>Login With Google</a>
 {{/if}}